@font-face {
    font-family: 'NeueHaasDisplay-Black';
    src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'NeueHaasDisplay-BlackItalic';
    src: url('/fonts/NeueHaasDisplayBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasDisplay-Bold';
    src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'NeueHaasDisplay-Light';
    src: url('/fonts/NeueHaasDisplayLight.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'NeueHaasDisplay-Roman';
    src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'NeueHaasDisplay-Thin';
    src: url('/fonts/NeueHaasDisplayThin.ttf') format('truetype');
    font-weight: 200;
}
